*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8c6db;
}

.quiz-container{
    width: 500px;
    border-radius: 10px;
    background-color:#fff;
    box-shadow: 0 0 10px 20px rgba(100, 100, 100, 0.1);
}

.quiz-header{
    padding: 4rem;
}

ul{
    list-style: none;
    padding: 0;
}

ul li{
font-size: 1.2rem;
margin: 1rem 0;
}

button{
    background-color: #5858f5;
    color: white;
    display: block;
    width: 100%;
    padding: 1.2rem;
    font-size: 1.3rem;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
cursor: pointer;
}

button:hover{
    background-color: rgb(53, 53, 247);
}
